.main {
    padding-top: 0.5em;
    padding-bottom: 0.01em;
    padding-left: 5em;
    margin: 1em;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 3px rgb(70, 70, 70, 0.2);
    width: 90%;
  }

