.hello {
    height: 2000px;
}

.main-content {
    background-color: #0A9EBB;
    border-radius: 10px;
}

.main-content .course__item__img {
    width: 40%;
    padding: 20px 25px;
}

.main-content .course__item__title {
    color: #fff;
    font-size: 2rem;
}
.main-content .course__item__info {
    font-size: 1.5rem;
    line-height: 1.4;
}

.slider-menu {
    display: none;
}

.slider-menu.active{
    background-color: #000;
    display: block;
    position: sticky;
    z-index: 1000;
    overflow: hidden;
    width: 100%;
    top: 0;
}

.lead-title{
    font-weight: 500;
    color: #fff;
}

@media only screen and (max-device-width: 1080px){
    .main-content .course__item__link{
        display: flex;
        flex-direction: column;
    }
    .main-content .course__item__img{
        width: 100%;
    }
    .main-content .course__item__info{
        text-align: center;
        padding: 0;
    }

}