
.sidebar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #171c1f;
    transition: 200ms ease;
    left: 0;
    z-index: 10;
}

.sidebar-item{
    padding: 1rem .5rem;
    align-items: flex-start;
    height: 50px;
    color: rgb(126, 126, 126);
    text-decoration: none;
    width: 100%;
}

.sidebar-item:hover{
    background-color: #5900ff;
    color: #fff;
}

.sidebar.active{
    width: 10rem;
}

.sidebar-toggle{
    background-color: #000;
    width: 100%;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 1rem .5rem
}

.sidebar-toggle:hover{
    color: #fff;
}

.sidebar-toggle svg{
    transform: rotate(0deg);
    transition: all .2s;
}
.active .sidebar-toggle svg{
    transform: rotate(-180deg);
}