@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

.container {
    font-family: Noto Sans JP;
}


.container .row .col-md-4{
    background-color: white;
    border-radius: 35px;
    margin: 0px 10px 120px;
    padding: 50px 30px 50px;
}



#img img {
    background-color: white;
    border-radius: 800px;
    width: 20%;
    height: 80px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: -50px;
    z-index: 1;
    padding: 20px;
}

.container .row .col-md-4 h4 {
    margin: 60px 0px 20px;
}


.container .row .col-md-4 .form-group input {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 10px 12px 10px;
    background-color: #B5EEFA;
}

.container .row .col-md-4 .form-group button {
    margin-left: auto;
    width: 70%;
    border-radius: 800px;
    color: #0A9EBB;
    border-color: #0A9EBB;
    font-weight: bolder;
}

.container .row .col-md-4 .form-group .row {
    font-size: 75%;
    margin-bottom: 30px;
}

#my-input {
    width: auto;
    margin: 0px;
}


.container .row .col-md-4 p {
    margin: 16px 0 16px 0;
}

.btn-outline-info:hover {
    background-color: #85B8CB;
    border-color: #85B8CB
}
