hr {
    height: 1.5px;
    border-width: 0;
    color: #0A9EBB;
    background-color: #0A9EBB;
}

.course__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    position: relative;
}

.course__item__link{
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #000;
    
}
 
.course__item__img{
    align-items: center;
    border-radius: 2px;
    text-align: left;
    width: 90px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.course__item__type {
    box-sizing: border-box;
    border-radius: 2px;
    padding: 2px 8px;
    background-color: #A23419;
    color: #fff;
}

.course__item__info{
    display: block;
    font-size: 14px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
}

.course__item__title {
    color: #0A9EBB;
}
.course__item__img:hover{
    transform: scale(1.1);
}

.course__item__text {
    margin-bottom: 1rem;
}
