@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.footer-component{
  background: #0A9EBB;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-component .footer-left,
.footer-component .footer-center,
.footer-component .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-component .footer-left{
  width: 40%;
}

#logo img {
  background-color: white;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: -50px;
  z-index: 1;
  padding: 20px;
  max-width: 15%;
}

.footer-component .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-component .footer-copyright{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-component .footer-center{
  width: 35%;
}

.footer-component .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-component .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-component .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-component .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:3;
}

.footer-component .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-component .footer-right{
  width: 20%;
}

.footer-component .footer-icons{
  margin-top: 25px;
}

.footer-component .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {

  .footer-component{
    font: bold 14px sans-serif;
  }

  .footer-component .footer-left,
  .footer-component .footer-center,
  .footer-component .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-component .footer-center i{
    margin-left: 0;
  }

}