@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');




.container {
    font-family: Noto Sans JP;
}

.navbar{
    background-color: #0a9fbb;
}

#logo_brand{
    background-color: white;
    border-radius: 15px;
    padding: 5px;

}

.container .collapse{
    justify-content: space-between;
}

.container .collapse .Left {
    display: flex;
}

.container .collapse .Left .active{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
}


.container .collapse .Right {
    display: flex;
    justify-content: center;
}

.container .collapse .Right Button{
    display: flex;
    margin:0 10px;
    border-radius: 800px;
    color: white;
    border-color: white;
    background-color: #0A9EBB;
    outline-width: 2px;
    font-weight: bolder;
    font-weight: bolder;
}

.container .collapse .Right Button .active {
    text-decoration: none;
}

.container .collapse .Right Button:hover {
    background-color: #85B8CB;
    border-color: #85B8CB
}

@media (max-width: 767.98px) {
    .container .collapse .Left {
        display: block;
    }
}
